@page "/counter"

<MainLayoutBody>
    <ActionPanelTopSlot>
        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
    </ActionPanelTopSlot>
    <DefaultSlot>
        <h1>Counter</h1>

        <p role="status">Current count: @currentCount</p>
    </DefaultSlot>
</MainLayoutBody>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
